*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Noto Sans KR';
    
}
body{
    overflow-x: hidden;
}
.desktop{
    width: 100vw;
    height: 150px;
    display: block;
    text-align: center;
}
.mobile{
display: none;
}
.container-box{
    width: 100%;
    height: 120px;
    span{
    display: block;
    margin: 15px;
    }
}
.logo{
    width: 200px;
    line-height: 50px;
    margin: 10px auto 10px auto;
}
.logo img{
    width: 200px;
}
.fa-magnifying-glass{
    display: inline-block;
    margin-left: 1200px;
    font-size: 20px;
    cursor: pointer;
/*     padding-bottom: 20px; */
}
.fa-cart-shopping{
/*     display: inline-block; */
    font-size: 20px;
    margin-left: 5px;
    cursor: pointer;
}

.menu-box{
    width: 1280px;
    height: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu1{
    position: absolute;
    margin-left: -30px;
    a{
    text-decoration: none;
    }

}
.menu2{
    margin-left: 900px;
    width: 800px;
    a{
        text-decoration: none;
    }
}
ul{
    display: flex;
    column-gap: 18px;
    a{
            color: black;
    }
}
li{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.header{
}
/* .carousel{
    height: 50%;
    margin: auto;
    img{
        width: 100%;
        margin: auto;
    }
} */

.gallery {
    max-height: 430px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    text-align: center;
    img{
        width: 290px;
    }
}
.gallery.open {
    max-height: none;
/*     height: auto; */
}
.photo {
    margin: auto;
}
.more-btn {
    display: block;
    margin: 30px auto;
    padding: 10px 50px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}
.more-btn:hover {
    background-color: #f3f3f3;
}
.gallery2 {
    max-height: 410px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    text-align: center;
    img{
        width: 290px;
    }
}
.gallery2.open {
    max-height: none;
    height: auto;
}
.more-btn2 {
    display: block;
    margin: 30px auto;
    padding: 10px 50px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}
.more-btn2:hover {
    background-color: #f3f3f3;
}
.gallery3 {
    max-height: 410px;
    overflow: hidden;
    transition: max-height 0.3s ease;
    text-align: center;
    img{
        width: 290px;
    }
}
.gallery3.open {
    max-height: none;
    height: auto;
}
.more-btn3 {
    display: block;
    margin: 30px auto;
    padding: 10px 50px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: 1px solid rgb(211, 211, 211);
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
}
.more-btn3:hover {
    background-color: #f3f3f3;
}
.grid-container{
    margin: auto;
    display: grid;
    width: 1280px;
    grid-template-rows: auto auto ;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "a1 a2 a3 a4"
    "a5 a6 a7 a8"
    "a9 a10 a11 a12"
    ;
    gap: 30px 40px;
    text-align: center;
}
.grid-container div{
    cursor: pointer;
}
img{
    width: 290px;
    cursor: pointer;
}
.section1{
        margin: auto;
        width: 1280px;
        height: 600px;
    a{
        text-decoration: none;
        color: black;
    }
}
.section1-box h4{
    font-size: 18px;
    margin-top: 30px;
}

.section2{
    width: 1280px;
    margin: 60px auto 0 auto;
    h4{
        font-size: 18px;
    }

    h5{
        margin-top: 15px;
        font-size: 16px;
        font-weight: bold;
    }
    p{
        font-size: 15px;
    }
    h6{
        font-size: 15px;
        margin-top: -10px;
    }
    .c1, .c2{
        a{
            text-decoration: none;
            color: black;
        }
    }
}
.section2-box{
    margin-bottom: 30px;
}

.section3{
    margin: auto;
    width: 1280px;
    margin-bottom: 50px;
}
.section3-box h4{
font-size: 18px;
}

.footer-box{
    width: 1280px;
    height: 300px;
    margin: auto;
    font-size: 12px;
    img{
        width: 40px;
        cursor: pointer;
    }
    pre{
        cursor: pointer;
    }
}
.footer-img{
    float: right;
    margin-top: 20px;
    img{
        width: 32px;
        margin: 3px;
    }
    .top-button{
        border: none;
        background-color: #211D1E;
        padding: 10px 20px;
        margin: 0 0 0 5px;
        border-radius: 50px;
        color: white;
        text-decoration: none;
        
    }
}
button{
        background-color: black;
        color: white;
        border: none;
}
.cs{
    a{
        text-decoration: none;
        color: black;
        font-size: 14px;
    }
    h6{
        cursor: pointer;
    }
    p{
        padding-bottom: 20px;
    }
}
.top-button:hover{
    background-color: #3d3637;
}

.inf{
    all: unset;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 500px;
    gap: 0;
    margin-top: -20px;
    p{
        cursor: pointer;
    }
}

nav{
    grid-area: nav;
}
header{
    grid-area: header;
}
.section1{
    grid-area: section1;
}
.section2{
    grid-area: section2;
}
.section3{
    grid-area: section3;
}
footer{
    grid-area: footer;
}

.a1{
    grid-area: a1;
}
.a2{
    grid-area: a2;
}
.a3{
    grid-area: a3;
}
.a4{
    grid-area: a4;
}
.a5{
    grid-area: a5;
}
.a6{
    grid-area: a6;
}
.a7{
    grid-area: a7;
}
.a8{
    grid-area: a8;
}
.a9{
    grid-area: a9;
}
.a10{
    grid-area: a10;
}
.a11{
    grid-area: a11;
}
.a12{
    grid-area: a12;
}


@media screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-x: hidden;
    }
    .desktop {
        display: none;
        height: 200px;
        width: 100vw;
    }
    .mobile{
        display: block;
        height: 110px;
        width: 100vw;
    }
    .container-box{
        text-align: center;
    }
    .logoicons{
        width: 700px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: auto;

        .logo{
            margin: 0;
            margin-top: 5px;
            img{
                width: 150px;
            }
        }
        .fa-solid{
            margin: 10px 0 0 0 ;
            font-size: 20px;
        }
    }
    .menu1{
        margin-left: 25px;
        margin-top: 10px;
        width: 700px;
        height: 30px;
    }

    .menu-box {
        flex-direction: column;
        gap: 10px;
    }
    ul {
        flex-direction: row;
        gap: 5px;
    }
    .fa-magnifying-glass,
    .fa-cart-shopping {
        padding: 3px;
        font-size: 10px;
    }
    .carousel img {
        object-fit: cover;
        height: 400px;
    }
    .section1{
        margin-bottom: 50px;
        h4{
            margin: 30px 0 10px 30px;
        }
    }
    .section1 .grid-container {
        float: left;
        margin-left: 30px;
        display: grid;
        width: 680px;
        height: 600px;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "a1 a2 a3"
        "a4 a5 a6"
        "a7 a8 a9"
        "a10 a11 a12"
        ;
    }
    .section1 .grid-container div img {
        width: 200px;
        border-radius: 20px;
    }

     .gallery {
        display: block;
        max-height: 430px;
        height: auto;
        overflow: hidden;
        transition: max-height 0.3s ease;
        text-align: center;
        img{
            width: 290px;
        }
    }
    .gallery.open {
        max-height: none;
        height: auto;
        overflow: visible;
    }
/*     .photo {
        margin: auto;
    } */
    .more-btn {
/*         display: block; */
        margin: 30px auto;
        padding: 10px 50px;
        background-color: white;
        color: rgb(0, 0, 0);
        border: 1px solid rgb(211, 211, 211);
        border-radius: 15px;
        cursor: pointer;
        text-align: center;
    }
    .more-btn:hover {
        background-color: #f3f3f3;
    }

    .section2 .grid-container{
        float: left;
        margin-left: 30px;
        display: grid;
        width: 680px;
        height: 1750px;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
        grid-template-columns: 1fr 1fr ;
        grid-template-areas: 
        "c1 c2"
        "c3 c4"
        "c5 c6"
        "c7 c8"
        ;
    }
    .section2{
        width: 768px;
        height: auto;
        margin: 60px auto 0 auto;
        h4{
            font-size: 18px;
        }
    
        h5{
            margin-top: 15px;
            font-size: 16px;
            font-weight: bold;
        }
        p{
            font-size: 15px;
        }
        h6{
            font-size: 15px;
            margin-top: -10px;
        }
    }
    

    .section3{
        margin-top: 50px;
    }
    .section3 .grid-container {
        float: left;
        margin-left: 30px;
        display: grid;
        width: 680px;
        height: 600px;
        grid-template-rows: 1fr 1fr 1fr ;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "a1 a2 a3"
        "a4 a5 a6"
        "a7 a8 a9"
        "a10 a11 a12"
        ;
    }
    .section3 .grid-container div img {
        width: 200px;
        border-radius: 20px;
    }

    footer {
        width: 700px;
        height: 350px;
        margin-top: 50px;
    }
    .footer-box{
        width: 700px;
        height: 350px;
    }
    .footer-img {

    }
    .footer-img img {
        margin: 5px 3px;
    }
    .cs {
        font-size: 10px;
        line-height: 1.5;
        button{
            color: white;
            background-color: #211D1E;
            border: none;
            padding: 3px;
        }
    }
    .cs button {
        font-size: 12px;
        padding: 5px 10px;
    }
}

